

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border:none;
}
 
/* body  * {
    border:1px solid black;
    box-sizing: border-box;
    
} */

#sliderText {
    text-align: center;
    border: 2px black solid;
    padding: 20px;
}

.reset {
background-color: white;
transition: background-color 0.5s ease;
}




#sizeCont {border: 2px black solid;}

#title {
    width: 60%;
    align-items: center;
    text-align: center;
    height: 60%;
   }

.gridMember {
    box-sizing: border-box;
}

.gridMemberBorder, #gridContainer{
    border:1px solid #b4b4b4;
}

.gridMember:hover{background: lightblue;}

#mainContainer {
    display:flex;
    width: 75%;
    justify-content: center;
}

#buttonsContainer {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    max-width: 20%;
    justify-content:baseline;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
    padding: 20px;
}

#paletteContainer {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    max-width: 20%;
    justify-content:baseline;
    gap: 50px;
    padding-top: 50px;
    align-items: center;
    padding: 20px;
    
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 500px;
    width: 500px;
    height: 500px;
  
    
}
button {
    min-width: 80%;
   }
